*.log
*.csv
*.mti
*.mpf
modelsim_sources.tcl
mproject_created
transcript
*.wlf
compiled
sim/*/work

pnr/*/db
pnr/*/incremental_db
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.pof
*.qpf
*.qsf
*.sld
*.sof
*.ttf
*.jic
*.qws
*.stp
verilog_source_files.tcl
pnr/*/.qsys_edit

sim/FFT/fft_gen/sw/obj-pc
fftgen
tags
